html {
  scroll-behavior: smooth;
}

body {
  background: #E5E5E5;
}

header {
  top: 0;
  width: 100%;
  position: fixed;
}

header a {
  font-weight: bold;
}

a {
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #2c4c3b 
}

.green-color {
  color: #4caf50 !important;
}

.bg-green {
  background-color: #4caf50;
}

.footer-icon {
  color: #000;
}

/* === Section: Intro === */
section#intro {
  width: 60%;
  margin: 60px 0;
}

.social-network-icons {
  margin-left: 40px;
}

.icon {
  color: #4caf50;
}

/* === Section: portfolio ==== */
section#portfolio {
  margin: 50px 0;
}


/* === Section: contact === */
section#contact {
  margin: 35px 0;
}

section::before { 
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
  pointer-events: none;
}

.skill-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}

.skill-lists li {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

.skill-lists li:last-child {
  border-bottom: none;
}

.bio,
.know-how {
  width: 50%;
}

.bio-parag {
  width: 75%;
}

.w-50-100 {
  width: 50%;
}

/*=== Small devices ===*/
@media screen and (max-width:768px) {
  section#intro {
    width: 100%;
    margin: 60px 0;
  }

  .social-network-icons {
    margin: 5px 0;
  }

  .bio,
  .know-how {
    width: 100%;
  }

  .bio-parag {
    width: 100%;
  }

  .w-50-100 {
    width: 100%;
  }
}